<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Тест</title>
    <script src="p5/p5.js"></script>
    <script src="sketch.js"></script>
    <script src="app.js"></script>
    <link rel="stylesheet" href="style.css">


    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">


  </head>




<body>





    <div class="mdl-grid">
      
      <div class="mdl-cell--middle mdl-cell--4-col" >
        <div class="" id="sketch-div" style="height: 300px; width: 300px;"></div>
        <br>
        
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" onclick="pg.save('йцуйцу')" style="width:300px; min-width: initial;">
          Сохранить
        </button>
                  
      

      
        
        <form action="#" name="te">
          <div class="mdl-textfield mdl-js-textfield">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
              <input class="mdl-textfield__input" type="text" id="sample5">
              <label class="mdl-textfield__label" for="sample5">Заголовок</label>
            </div>
          </div>
          <div class="mdl-textfield mdl-js-textfield">
              <textarea name = 'sample5' class="mdl-textfield__input" type="text" rows= "6" id="sample6" value="132" v-model="message"></textarea>
              <label class="mdl-textfield__label" for="sample5">Сообщение</label>
            </div>
        </form>

        
          <div id="raidob">
            <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-1" id="radio1">
              <input type="radio" id="option-1" class="mdl-radio__button" name="options" value="#63B0DE" v-model="picked" id="hello" checked>
              <span class="mdl-radio__label">Синий</span>
            </label>
            <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-2">
              <input type="radio" id="option-2" class="mdl-radio__button" name="options" value="#27C679" v-model="picked" >
              <span class="mdl-radio__label">Зеленый</span>
            </label>
          </div>
  
        </div>
  
      </div>
     
      

   

    </div>
    <script src="app.js"></script>
</body>
<script src="app.js"></script>
<script src="/test/script.vue"></script>
<script src="sketch.js"></script>
<script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>

</html>





